/* IMPORTING FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* RESET */
* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

button {
    font-size: inherit;
}

/* GENERAL STYLES */
html {
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

    transition: all 0.1s linear;
    color: black;
}

button:active {
    transform: scale(0.96);
    opacity: 0.5;
}

/* CALCULATOR */

#calculator {
    border-radius: 16px;
    padding: 15px;
    min-height: 600px;
    height: min(80vh, 750px);
    width: min(90vw, 650px);
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

/* INPUT */
#calculator-input {
    font-size: inherit;
    padding: 15px;
    height: 20%;
    width: 100%;

    border: 3px solid black;
    border-radius: 15px;

    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    justify-content: space-around;
}

#current-number {
    font-weight: 800;
}

/* BUTTONS */
#assign-buttons {
    place-items: center;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.span-2 {
    grid-column: span 1;
}

.span-3 {
    grid-column: span 3;
}

#equal-button {
    width: 90%;
    background-color: #638fff;
}

.del-btn {
    background-color: #fb4848;
}

.equation-btn {
    background-color: #fdb14f;
}

/* Media Queries */

@media screen and (min-width: 200px) {
    html {
        font-size: 20px;
    }

    button {
        width: 40px;
        height: 40px;
        border-radius: 40px;
    }

    #calculator {
        min-height: 450px;
    }

    #calculator-input {
        font-size: 15px;
    }
}

@media screen and (min-width: 350px) {
    html {
        font-size: 25px;
    }

    button {
        font-size: 25px;
        width: 55px;
        height: 55px;
        border-radius: 55px;
    }

    #calculator {
        min-height: 550px;
    }

    #calculator-input {
        font-size: 20px;
    }
}

@media screen and (min-width: 400px) {
    html {
        font-size: 30px;
    }

    button {
        font-size: 30px;
        width: 70px;
        height: 70px;
        border-radius: 70px;
    }

    #calculator {
        min-height: 650px;
    }

    #calculator-input {
        font-size: 25px;
    }
}

@media screen and (min-width: 500px) {
    html {
        font-size: 35px;
    }

    button {
        font-size: 30px;
        width: 75px;
        height: 75px;
        border-radius: 75px;
    }

    #calculator-input {
        font-size: 25px;
    }

    #current-number {
        font-size: 35px;
    }
}



