* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

button {
    font-size: inherit;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;

    transition: all 0.1s ease-in;
    color: black;
}

button:active {
    transform: scale(0.96);
    opacity: 0.5;
}

/* CALCULATOR */

#calculator {
    text-align: center;
    padding: 15px;
    height: min(80vh, 450px);
    width: min(90vw, 350px);
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#assign-buttons {
    place-items: center;
    background-color: aqua;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.span-2 {
    grid-column: span 1;
}

.span-3 {
    grid-column: span 3;
}

#equal-button {
    width: 90%;
    background-color: #638fff;
}

/* Media Queries */

@media screen and (min-width: 200px) {
    html {
        font-size: 20px;
    }

    button {
        width: 40px;
        height: 40px;
        border-radius: 40px;
    }
}

@media screen and (min-width: 350px) {
    html {
        font-size: 25px;
    }

    button {
        font-size: 20px;
        width: 45px;
        height: 45px;
        border-radius: 45px;
    }
}

@media screen and (min-width: 400px) {
    html {
        font-size: 30px;
    }

    button {
        font-size: 25px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
    }
}



